{% extends 'mainapp/base.html' %}
{% block content %}
<div class="content">
    <div class="dialog">
        <div>
            <h3>Активные диалоги</h3>
            <div class="dialog-create">
                <a href="{% url 'chat:dialog_create' %}"
                   style="text-decoration: none;">
                    новый диалог
                </a>
            </div>
        </div>
        <div>
            {% block chat %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="dialogues-block">
    <ul>
        {% for item in dialogues %}
        <li>
            <a class="dialog-list-a" href="{% url 'chat:dialog_show' item.dialog_id %}"
               style="text-decoration: none;">
                {{ item.dialog.created }}
                {% if item.dialog.name %} - {{ item.dialog.name }}{% endif %}
            </a>
                        <span class="dialog-delete">
                <a href="{% url 'chat:dialog_delete' item.dialog_id %}"
                   style="text-decoration: none;">
                    удалить
                </a>
            </span>
        </li>

        {% endfor %}
    </ul>
</div>
{% for item in messages %}
    <div role="alert">
        {{item}}
    </div>
{% endfor %}
{% endblock %}

