{% extends 'mainapp/base.html' %}
{% load dialog %}
{% block content %}
<div class="content_chat">
    <div class="dialog">
        <div class="dialog-item create_dialog">
            {% for item in new_interlocutors %}
            <a href="{% url 'chat:user_dialog_create' item.pk %}"
               style="text-decoration: none;">
                <img src="{{item.avatar.url}}" alt="">
            </a>
            {% endfor %}
        </div>
        <div class="dialog-item create_dialog_2">
            {% for item in dialogues %}
            <li>
                <a class="dialog-list-a" href="{% url 'chat:dialog_show' item.dialog_id %}"
                   style="text-decoration: none;">
                    {{ item.dialog.created }}
                    {% if item.dialog.name %} - {{ item.dialog.name }}{% endif %}
                </a>
                <span class="dialog-delete">
                <a href="{% url 'chat:dialog_delete' item.dialog_id %}"
                   style="text-decoration: none;">
                    удалить
                </a>
            </span>
            </li>

            {% endfor %}
            {% for item in messages %}
            <div role="alert">
                {{item}}
            </div>
            {% endfor %}
        </div>
        <div class="dialog-item messanger-about">
            {% block chat %}
            {% endblock %}
        </div>
        <div class="dialog-item messanger">
            <p>w1234</p>
            <p>w1234</p>
            <p>w1234</p>
            <p>w1234</p>
            <p>w1234</p>
            <p>w1234</p>
            <p>w1234</p>
            <p>w1234</p>
            <p>w1234</p>
            <p>w1234</p>
        </div>
    </div>
</div>
{% endblock %}