{% extends 'chatapp/dialog_show.html' %}
{% block chat %}
{% for item in dialogs.get_messages_all %}
{% if item.sender.role == '0'%}
<p class="message-{{ item.pk }}"> {{ item.sender.member.username }}<br>
    ({{ item.created|date:"Y.m.d H:i" }}) - {{ item.text }}</p>
    {% elif item.sender.role == '1'%}
<p class="message-{{ item.pk }}" style="float: right"> {{ item.sender.member.username }}<br>
    ({{ item.created|date:"Y.m.d H:i" }}) - {{ item.text }}</p>
    {% endif %}
    {% endfor %}
<h3>Сообщение</h3>
<div class="dialog-message">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="отправить">
    </form>
</div>
{% endblock %}