.course{
    display: grid;
    background-color: rgb(241, 241, 241);
    border-radius: 50px;
    grid-template-columns: 55% 45%;
    padding: 50px 50px;
}
.about_course_h1{
    font-size: 52px;
    line-height: 60px;
}
.about_course_p{
    padding: 32px 0;
    font-size: 18px;
}
.course_cover{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 50px;
}
.about_course_cover{
    height: 100%;
    width: 100%;
}
.add_order{
    padding: 10px;
    border-radius: 50px;
    border: 1px solid;
    align-self: flex-end;
    justify-self: baseline;
}
.add_order:hover{
    background-color: #387948;
    border: 1px solid #387948;
    color: #fff;
}