.profile_top_about{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 35% 30% 35%;
}
.about_image{
    height: 100px;
    width: 100px;
}
.top_about{
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.profile_image{
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 100px;
    height: 100%;
    width: 100%;
}
#id_avatar {
  display: none;
}
.profile_last{
    padding-bottom: 10px;
    font-size: 20px;
}
.profile_email{
    font-size: 12px
}
.profile_about{
    display: grid;
    background-color: rgb(241, 241, 241);
    border-radius: 50px;
    grid-template-columns: 40% 60%;
    padding: 20px 0;
    margin: 20px 0;
}
.about_form{
    justify-self: center;
}
.ui_input{
    display: block;
    width: 75%;
}
input {
    display:block;
    margin:10px 0;
    padding:10px;
  }
.form-profile {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
.form-profile:hover {
    border: 1px solid #aaa;
  }
.button-profile{
    border-radius: 10px;
    padding: 10px;
}
.button-profile:hover{
    background-color: #44883c;
    color: #fff;
    cursor: pointer;
}
.password_about{
    display: grid;
    background-color: rgb(241, 241, 241);
    border-radius: 50px;
    grid-template-columns: 40% 60%;
    padding: 20px 0;
    margin: 20px 0;
}
.login_form{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-top: 100px;
}
.login_form_div{
    display: grid;
}
.login_form_p{
    justify-self: center;
    font-size: 12px;
    color: #aaa;
}
.login_form_button{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.a_register{
    display: grid;
    background-color: #e9e9ed;
    text-align: center;
}
.button_login{
    margin: 0 10px;
}
.pol_sog{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px 0;
    margin: 10px 0;
}
.sog_check{
    border-radius: 100px;
    height: 20px;
}
.sog_p{
    font-size: 10px;
}
select {
    display:block;
    margin:10px 0;
    padding:10px;
  }

.user_order{
    display: grid;
    background-color: rgb(241, 241, 241);
    border-radius: 50px;
    grid-template-columns: 40% 60%;
    padding: 40px 20px 40px 0;
    margin: 20px 0;

}
.user_order_image{
    height: 100%;
    width: 100%;
}
.user_order_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.order_card{
    display: grid;
    padding: 30px;
    border-radius: 15px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    transform-style: preserve-3d;
    box-shadow: 6px 6px 20px 4px rgba(55, 84, 170, 0.12);
    transition: box-shadow 200ms ease;
}
.order_card:hover{
    box-shadow: 8px 8px 20px 8px rgba(55, 84, 170, 0.15);
}
.order_card_top{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.order_card_top_div{
    display: grid;
}

.order_card_top_image{
    height: 30px;
    width: auto;
    justify-self: right;
    align-self: baseline;
}
.order_card_h{
    font-size: 20px;
}
.order_card_p{
    padding-top: 10px;
    font-size: 15px;
}