{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}
<script type="text/javascript">
$(document).ready(function(){
    $("ul").hide();
    $("ul li:odd").css("background-color", "#efefef");
    $("h1 span").click(function(){
    $(this).parent().next().slideToggle();
    });
});
</script>
<div class="course">
    <div style="display: grid;">
        <h1 class="about_course_h1">
            {{course.name}}
        </h1>
        <p class="about_course_p">{{course.desc}}</p>
        <a href="{% url 'main:add_order' course.id %}" class="add_order"></a>
    </div>
    <div class="course_cover">
        <img src="{{course.cover.url}}" class="about_course_cover" alt="">
    </div>
</div>
<div class="content_course">
    <div>
        <h1 class="content_course_title">Содержание курса</h1>
        {% for item in content %}
        <div class="course_list_content">
            <h1 class="course_list_content_title">{{item.name}}<span class="expand">+</span></h1>
            <ul class="course_list_content_ul">
                {% for task in item.content_task.all %}
                <li class="course_list_content_li">{{task.name}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}