{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="course_order">
    <div class="course_task">
        <div class="course_problems">
            <div>Статус</div>
            <div>Название</div>
            <div>Сложность</div>
        </div>
    {% for item in task %}
    <a href="{% url 'main:task_detail' item.id %}">
        <div class="course_problems_task">
            <div>{{item.status}}</div>
            <div>{{item.name}}</div>
            <div>{{item.get_difficulty_display}}</div>
        </div>
    </a>
    {% endfor %}

    </div>
</div>
{% endblock %}
