{% extends 'mainapp/base.html' %}
{% block content %}
    {% load static %}
    <div class="content_cource">
        <div>
            <h1 class="content_h1 title_cource">Направления</h1>
            <form action="{% url "main:category" %}">
                {% for item in category %}
                        <button class="link_cource" value="{{ item.name }}"
                                name="filter">{{ item.name }}</button>
                {% endfor %}
            </form>
        </div>
        <div></div>
    </div>
    <div class="content_events_title">
        <h1 class="content_h1">Ближайшие мероприятия</h1>
        <div class="events_all">
            <a href="{% url "main:events" %}" class="events_all_link">Все мероприятия</a>
        </div>
    </div>
    <div class="content_events">
        {% for item in event %}
            <div class="content_events_item">
                <img src="{{ item.images.url }}" alt="Avatar" class="events_image">
            </div>
        {% endfor %}
    </div>

{% endblock %}
